# Ignorar arquivos do frontend (Angular)
lojavinho-angular/dist/
lojavinho-angular/tmp/
lojavinho-angular/out-tsc/
lojavinho-angular/bazel-out/
lojavinho-angular/node_modules/
lojavinho-angular/npm-debug.log
lojavinho-angular/yarn-error.log
lojavinho-angular/.angular/cache
lojavinho-angular/.sass-cache/
lojavinho-angular/connect.lock
lojavinho-angular/coverage
lojavinho-angular/libpeerconnection.log
lojavinho-angular/testem.log
lojavinho-angular/typings/
lojavinho-angular/.history/

# Ignorar arquivos do backend (Spring Boot)
lojavinho-springboot/target/
lojavinho-springboot/.mvn/wrapper/maven-wrapper.jar
lojavinho-springboot/**/src/main/**/target/
lojavinho-springboot/**/src/test/**/target/

# Ignorar arquivos específicos de IDEs e editores
# Para o projeto Angular
lojavinho-angular/.idea/
lojavinho-angular/.project
lojavinho-angular/.classpath
lojavinho-angular/.c9/
lojavinho-angular/*.launch
lojavinho-angular/.settings/
lojavinho-angular/*.sublime-workspace
lojavinho-angular/.vscode/*

# Para o projeto Spring Boot
lojavinho-springboot/.idea/
lojavinho-springboot/*.iws
lojavinho-springboot/*.iml
lojavinho-springboot/*.ipr
lojavinho-springboot/.vscode/

# Ignorar arquivos do Spring Tools Suite (STS)
lojavinho-springboot/.apt_generated
lojavinho-springboot/.factorypath
lojavinho-springboot/.project
lojavinho-springboot/.settings
lojavinho-springboot/.springBeans
lojavinho-springboot/.sts4-cache

# Ignorar arquivos de outras IDEs
lojavinho-springboot/nbproject/private/
lojavinho-springboot/nbbuild/
lojavinho-springboot/dist/
lojavinho-springboot/nbdist/
lojavinho-springboot/.nb-gradle/
lojavinho-springboot/build/

# Sistema de arquivos
.DS_Store
Thumbs.db
