<div id="container">
  <menu></menu>
  <div id="container-2">
    <div id="login-form-box">
      <h1 id="login-titulo"> Faça seu login </h1>
      <p id="mensagem-execucao">{{mensagem}}</p>
      <form (submit)="fazerLogin()" id="login-form">
        <label for="name">E-mail:</label>
        <input type="email" [(ngModel)]="emailCliente" name="email" required placeholder="Digite seu email...">

        <br><br>

        <label for="senha">Senha:</label>
        <input type="password" [(ngModel)]="senhaCliente" name="senha" required placeholder="Digite sua senha...">
        <a href="./esqueci-senha" id="esqueci-senha">Esqueci a senha</a>

        <button type="submit" id="entrar-botao">Entrar</button>

        <p id="cadastro-link">Não possue uma conta? <a href="./cadastro">Faça um cadastro</a></p>
        <button (click)="logout()" id="logout-botao" type="button" *ngIf="estaLogado">Sair da Conta</button>
      </form>
    </div>
  </div>
</div>