<div id="container">
    <div id="menu-box">
        <img src="assets/icons/logo2.png" alt="" width="30px">
        
        <div id="caixa-pesquisa-box">
            <input type="text" placeholder="Encontre o seu vinho..." id="caixa-pesquisa">
            <img src="assets/icons/search.svg" alt="" width="35px" id="lupa-pesquisa">
        </div>
    
        <div id="conta-carrinho-box">
            <div id="cadastro-login-box">
                <img src="assets/icons/user.svg" alt="" width="42px" style="">
                <p *ngIf="estaLogado == false" style="width: 80px;">
                    <a href="./cadastro"> Entrar</a> ou <a href="./login">Cadastrar</a>
                </p>
            </div>
            <img src="assets/icons/cart.svg" alt="" width="42px">
        </div>
    </div>
</div>
<nav>
    <a href="./cadastro">Cadastrar</a><br>
    <a href="./cesta">Carrinho</a><br>
    <a href="./detalhe">Detalhe</a><br>
    <a href="./esqueci-senha">Esquecia a Senha</a><br>
    <a href="./login">Logar</a><br>
    <a href="./pesquisa">Pesquisar</a><br>
    <a href="./vitrine">Vitrine</a><br>
</nav>