menu{
    position: sticky;
    top: 0;
    z-index: 10;
}

#container{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 125px;
}

#container-2{
    margin: auto;
    width: 80%;
    margin-bottom: 70px;
}

#container-2 > h1{
    font-size: 32px;
    margin-bottom: 40px;
}

#carrinho-box{
    display: flex;
    width: 100%;
    gap: 100px;
}


/* ===== Produtos do Carrinho ===== */

#produtos-carrinho-box{
    display: grid;
    width: 70%;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.item-carrinho-box{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 25px 20px;
    border: 1px #C5C5C5 solid;
    border-radius: 10px;
    position: relative;
    font-family: Tajawal;
}


.item-carrinho-box > h2{
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    flex: 1;
    margin-bottom: 15px;
    font-family: Marcellus;
}

/* ===== Caixa da Imagem e das Informações ===== */
.item-carrinho-img-info-box{
    display: flex;
    gap: 25px;
    flex: 1;
}

.img-vinho-box{
    display: flex;
    align-items: end;
    justify-content: center;
}

.img-vinho{
    width: auto;
    height: 250px;
}

/* ===== Informações do Produto ===== */
.item-carrinho-info-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ===== Tags do Produto ===== */
.item-carrinho-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 15px;
}

.item-carrinho-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    text-transform: uppercase;
}

/* ===== Area do Preco ===== */
.item-carrinho-preco{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.precounid-quantidade{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.preco-unidade{
    font-size: 22px;
}

.quantidade-valor{
    display: flex;
    height: 100%;
    width: 110px;
}

.quantidade-contador-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEC700;
    border-radius: 100px;
    flex: 1;
}

.maisMenosQuantidadeBotao{
    background-color: white;
    padding: 10px;
    border-radius: 500px;
}

.preco-total{
    display: flex;
    justify-content: left;
    font-size: 20px;
}


/* ===== Area do Lixo ===== */
.remover-item-box{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 7px 7px 0px;
}

.remover-item-box > img{
    background-color: rgb(255, 223, 223);
    padding: 5px;
    border-radius: 8px;
}









/* ===== Area do Pagamento ===== */
#pagamento-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    flex-shrink: 0;
    font-family: Tajawal;
}



/* ===== Ares do Desconto ===== */
#cupom-box{
    display: flex;
    flex-direction: column;
    border: 1px #a3a3a3 solid;
    border-radius: 5px;
    padding: 22px 30px;
}

#cupom-titulo-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#cupom-titulo-box > h2{
    font-size: 22px;
    color: #272727;
}

#cupom-box > input{
    padding: 14px 12px 14px 26px;
    font-size: 18px;
    margin-bottom: 8px;
    outline: none;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    color: #5e5e5e;
    text-transform: uppercase;
}

#cupom-box > input::placeholder{
    font-size: 16px;
    color: #cfcfcf;
    text-transform: none;
}

#cupom-box > button{
    background-color: #2D2D2D;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}





/* ===== Resumo do Pedido ===== */
#pedido-box{
    display: flex;
    flex-direction: column;
    gap: 60px;
    border: 1px #a3a3a3 solid;
    padding: 30px 40px;
    border-radius: 20px;
    position: sticky;
    top: 170px;
}

#resumo-pedido-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#resumo-pedido-box > h2{
    font-size: 24px;
    padding-bottom: 25px;
    border-bottom: 1px #c2c2c2 solid ;
    font-weight: bold;
    color: #505050;
}

#informacoes-pagamento-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.informacoes-pagamento{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #585858;
}

#finalizar-pedido-box{
    text-align: center;
}

#finalizar-pedido-botao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    padding: 14px;
    background-color: #27A480;
    border: none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    margin-bottom: 12px;
}

#finalizar-pedido-botao:hover{
    background-color: #208b6d;
}

#termos-condicoes-texto{
    font-size: 13px;
    color: #8b8b8b;
}










/* ===== Responsividade ===== */
@media only screen and (max-width: 1700px){
    #carrinho-box{
        gap: 50px;
    }

    #pagamento-box{
        width: 450px;
    }
}


@media only screen and (max-width: 1200px){
    #container-2{
        margin: auto;
        width: 92%;
        margin-bottom: 70px;
    }
}



@media only screen and (max-width: 950px){
    #container-2 > h1{
        text-align: center;
    }

    #carrinho-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 100px;
    }

    #produtos-carrinho-box{
        width: 100%;
    }

    #pagamento-box{
        width: 100%;
    }

    #pedido-box{
        position: static;
    }
}




@media only screen and (max-width: 400px){
    #container-2{
        width: 97%;
    }

    #produtos-carrinho-box{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .quantidade-valor{
        height: 42px;
    }

    .remover-item-box{
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 7px 0 0;
    }
}