<div>
	<menu></menu>
	<div id="container">
		<div id="container-2">
			<div style="display: flex; align-items: center; margin-bottom: 40px;">
				<h1> Carrinho de compras </h1>
				<button (click)="limparCesta()" id="botaoLimparCarrinho" *ngIf="this.cestaCompra.itens.length != 0"> Limpar
				</button>
			</div>
			<p *ngIf="mensagem != null" style="font-family: Tajawal; font-size: 22px;"> {{mensagem}} </p>
			<div id="carrinho-box">
				<div id="produtos-carrinho-box">
					<div class="item-carrinho-box" *ngFor="let item of cestaCompra.itens">
						<h2> {{item.vinho.nome}}</h2>
						<div class="item-carrinho-img-info-box">
							<div class="img-vinho-box">
								<img src="assets/vinhos/{{item.vinho.codigo}}.png" alt="" class="img-vinho">
							</div>
							<div class="item-carrinho-info-box">
								<div class="item-carrinho-tags">
									<div class="item-carrinho-tag">
										<img src="assets/icons/tipo.png" alt="" width="20px">
										<p> {{item.vinho.tipo}} </p>
									</div>

									<div class="item-carrinho-tag">
										<img src="assets/icons/volume.png" alt="" width="20px">
										<p> {{item.vinho.volume}}ml </p>
									</div>

									<div class="item-carrinho-tag">
										<img src="assets/icons/teorAlcoolico.png" alt="" width="20px">
										<p> {{item.vinho.teorAlcoolico}}% </p>
									</div>

									<div class="item-carrinho-tag">
										<img src="assets/paises/{{item.vinho.cdPais}}.png" alt="" width="20px">
										<p> {{item.vinho.regiao}}, {{item.vinho.pais}} </p>
									</div>

									<div class="item-carrinho-tag">
										<img src="assets/icons/uva.png" alt="" width="20px">
										<p> {{item.vinho.uva}} </p>
									</div>

									<div class="item-carrinho-tag">
										<img src="assets/icons/marca.png" alt="" width="20px">
										<p> {{item.vinho.marca}} </p>
									</div>
								</div>
								<div class="item-carrinho-preco">
									<div class="precounid-quantidade">
										<div class="preco-unidade">
											<div>
												<p
													style="text-decoration-line: line-through; color:#9b9b9b; font-size: 14px; margin-bottom: 4px;">
													de R$ {{item.vinho.preco.toFixed(2)}} por
												</p>
												<p>
													R$ {{(item.vinho.preco - (item.vinho.preco * item.vinho.desconto)).toFixed(2)}}
													<span style="font-size: 14px;"> UNID. </span>
												</p>
											</div>
										</div>
										<div class="quantidade-valor">
											<div class="quantidade-contador-box">
												<img src="assets/icons/minus.png" alt="" width="12px" class="maisMenosQuantidadeBotao"
													(click)="quantidadeDiminuir(item)">
												<p> {{item.quantidade}} </p>
												<img src="assets/icons/plus.png" alt="" width="14px" class="maisMenosQuantidadeBotao"
													(click)="quantidadeAumentar(item)">
											</div>
										</div>
									</div>
									<div class="preco-total">
										Preço total: {{item.valorTotal.toFixed(2)}}
									</div>
								</div>
							</div>
						</div>
						<div class="remover-item-box">
							<img src="assets/svgs/trash.svg" alt="" width="22px" (click)="removerItem(item)">
						</div>
					</div>
				</div>
				<div id="pagamento-box">
					<div id="cupom-box">
						<div id="cupom-titulo-box">
							<img src="assets/icons/ticket.png" alt="" width="30px">
							<h2> Cumpom de desconto </h2>
						</div>
						<input type="text" placeholder="Inserir código de desconto" [(ngModel)]="codigoDesconto">
						<button id="cupom-botao" (click)="aplicarDesconto()"> Aplicar </button>
					</div>
					<div id="pedido-box">
						<div id="resumo-pedido-box">
							<h2> Resumo do Pedido </h2>
							<div id="informacoes-pagamento-box">
								<div class="informacoes-pagamento">
									<p> Subtotal </p>
									<p> {{this.cestaCompra.total.toFixed(2)}} </p>
								</div>
								<div class="informacoes-pagamento" *ngIf="valorDesconto != 0">
									<p> Descontos (20%) </p>
									<p> R$ -{{valorDesconto.toFixed(2)}}</p>
								</div>
								<div class="informacoes-pagamento">
									<p> Total </p>
									<p> R$ {{valorTotalFinal.toFixed(2)}} </p>
								</div>
							</div>
						</div>
						<div id="finalizar-pedido-box">
							<button id="finalizar-pedido-botao"> Finalizar Pedido <img src="assets/svgs/right-arrow-2.svg"
									width="30px" alt=""> </button>
							<p id="termos-condicoes-texto"> Ao comprar, você concorda com nossos <span
									style="text-decoration: underline;">termos e condições</span>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>