
<div id="box">
  <menu></menu>
  <div id="box-2">
    <div class="container">
      <div class="form">
        <div class="header">
          <h1 id="mensagem">{{mensagemTitulo}}</h1>
          
        </div>
  
        <div class="input-group">
          <div class="input-box">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" [(ngModel)]="cliente.nome" placeholder="Digite seu nome completo" required>
          </div>
  
          <div class="input-box">
            <label for="documento">CPF:</label>
            <input type="text" id="documento" [(ngModel)]="cliente.documento" placeholder="Digite seu CPF" required>
          </div>
  
          <div class="input-box">
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" [(ngModel)]="cliente.telefone" placeholder="(xx) xxxx-xxxxx" required>
          </div>
  
          <div class="input-box">
            <label for="logradouro">Rua:</label>
            <input type="text" id="logradouro" [(ngModel)]="cliente.logradouro" placeholder="Digite o nome da sua rua"
              required>
          </div>
  
          <div class="input-box">
            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" [(ngModel)]="cliente.complemento"
              placeholder="Digite o complemento do endereço">
          </div>
  
          <div class="input-box">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" [(ngModel)]="cliente.cep" placeholder="Digite seu CEP" required>
          </div>
  
          <div class="input-box">
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" [(ngModel)]="cliente.cidade" placeholder="Digite o nome da sua cidade"
              required>
          </div>
  
          <div class="input-box">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="cliente.email" placeholder="Digite seu email" required>
          </div>
  
          <div class="input-box">
            <label for="senha">Senha:</label>
            <div class="password-container">
              <input type="password" id="senha" [(ngModel)]="cliente.senha" placeholder="Digite sua senha"
                [type]="mostraSenha ? 'text' : 'password'" required>
              <button type="button" class="alternar-senha" (click)="alternaSenha()">
                <fa-icon [icon]="mostraSenha ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
          </div>
  
          <div class="input-box">
            <label for="confirmsenha">Confirme sua senha:</label>
            <div class="password-container">
              <input type="password" id="confirmsenha" [(ngModel)]="confirmarSenhaValor"
                placeholder="Confirme sua senha" [type]="mostraConfirmaSenha ? 'text' : 'password'" required>
              <button type="button" class="alternar-senha" (click)="alternaConfirmaSenha()">
                <fa-icon [icon]="mostraConfirmaSenha ? faEyeSlash : faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
  
        <button id="submit-btn" (click)="gravar()">{{cadastrarBtnText}}</button>
        <p id="login-link">
          Já tem uma conta? <a href="./login">Faça o login</a>
        </p>
      </div>
    </div>
  </div>
</div>