<menu></menu>

<div *ngIf="vinho.codigo > 0">
    <div id="container">
        <div id="vinho-box">
            <!-- <p>Código: {{vinho.codigo}}</p> -->
            <div id="vinho-img-box">
                <img src="assets/vinhos/{{vinho.codigo}}.png" alt="" width="140px">
            </div>
            <div id="informacao-box">
                <div id="titulo-box">
                    <h1 id="titulo">{{vinho.nome}}</h1>
                </div>
                <div id="img-vinho-descricao-box-responsivo">
                    <div id="vinho-img-box-responsivo">
                        <img src="assets/vinhos/{{vinho.codigo}}.png" alt="" width="140px">
                    </div>
                    <div id="descricao-box">
                        <div id="tags-box">
                            <div class="tag-box">
                                <img src="assets/paises/{{vinho.cdPais}}.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.regiao}}, {{vinho.pais}}</p>
                            </div>
                            <div class="tag-box">
                                <img src="assets/icons/uva.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.uva}}</p>
                            </div>
                            <div class="tag-box">
                                <img src="assets/icons/tipo.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.tipo}}</p>
                            </div>
                            <div class="tag-box">
                                <img src="assets/icons/volume.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.volume}}ml</p>
                            </div>
                            <div class="tag-box">
                                <img src="assets/icons/teorAlcoolico.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.teorAlcoolico}}%</p>
                            </div>
                            <div class="tag-box">
                                <img src="assets/icons/marca.png" alt="" class="icon-tags-img">
                                <p class="tag-text">{{vinho.marca}}</p>
                            </div>
                        </div>
                        <div id="preco-box">
                            <div id="desconto-box" *ngIf="vinho.desconto > 0">
                                <p style="text-decoration-line: line-through; color:#9b9b9b;">de R$ {{vinho.preco.toFixed(2)}} por</p>
                                <p id="desconto-valor">{{vinho.desconto * 100}}% OFF</p>
                            </div>
                            <p id="preco-valor">R$ {{precoComDesconto.toFixed(2)}}</p>
                            <p id="preco-parcela"> 3x de R$ {{(precoComDesconto/3).toFixed(2)}} sem juros</p>
    
                            <div id="comprar-box">
                                <div id="quantidade-box">
                                    <button (click)="quantidadeDiminuir()" class="botaoMaisMenos"> 
                                        <img src="assets/icons/minus.png" alt="" width="12px"> 
                                    </button>
                                    <p class="botaoMaisMenos"> {{quantidadeItemsAtual}} </p>
                                    <button (click)="quantidadeAumentar()" class="botaoMaisMenos">
                                        <img src="assets/icons/plus.png" alt="" width="14px">
                                    </button>
                                </div>
                                <button *ngIf="vinho.estoque > 0" id="botao-comprar" (click)="adicionarItem(vinho)"> ADICIONAR AO CARRINHO</button>
                            </div>
                            <h4 *ngIf="vinho.estoque <= 0">Item fora de estoque</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>