.display-flex-centro-centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#vinho-box{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    width: 65%;
}



/* ===== Imagem do Vinho ===== */
#vinho-img-box{
    width: 30%;  
    text-align: center;
}


/* ===== Paine da Direita ===== */
#informacao-box{
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex-grow: 1;
    height: 100%;
    gap: 50px;
}

/* ===== Titulo ===== */
#titulo-box{    
    border: 1.5px #D1416C solid;
    width: 100%;
    padding: 30px 0;
    border-radius: 5px;
}

#titulo{
    font-size: 40px;
}

/* ===== Descrição do Vinho ===== */
#descricao-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}

/* ===== Area das Tags do Vinho ===== */
#tags-box{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    gap: 15px;
}

.tag-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 15px 25px;
    line-height: 22px;  
    gap: 12px;
}

.icon-tags-img{
    width: 35px;

}

/* ===== Area dos Preços ===== */
#preco-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* ===== Area dos Valores ===== */
#desconto-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

#desconto-valor{
    background-color: #5FBD7F; 
    color: white; 
    padding: 7px 7px; 
    border-radius: 20px;
    font-size: 14px;
}

#preco-valor{
    margin-top: 5px;
    font-size: 40px;
    color: #D1416C;
    font-weight: bold;
}

#preco-parcela{
    margin-top: 16px;
    color:#9b9b9b;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ===== Area da Compra ===== */
#comprar-box{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    height: 60px;
}

#quantidade-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F6F4F1;
    width: 40%;
    border-radius: 10px 0px 0px 10px;
}

.botaoMaisMenos{
    display: block;
    font-size: 20px;
}

button.botaoMaisMenos{
    border: none;
    background: none;
    cursor: pointer;
}

#botao-comprar{
    width: 60%;
    border: none;
    background: none;
    cursor: pointer;
    background-color: #21A76E;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: 600;
}