<div id="container">
  <aside>
    <label id="sobreporFundoMenuLateral" for="menu-lateral-ativo" [ngStyle]="{
            opacity: estaAtivoMenuLateral ? '0.3' : '0',
            visibility: estaAtivoMenuLateral ? 'visible' : 'hidden'
        }"
        (click)="toggleMenuLateral()"
        ></label>
    <nav class="menu-lateral-box" aria-hidden="true" [ngStyle]="{
            left: estaAtivoMenuLateral ? '0' : '-100%'
        }" [attr.aria-hidden]="!estaAtivoMenuLateral">
      <label class="fechar-menu-lateral-btn" (click)="toggleMenuLateral()">
        <img src="assets/icons/x-fechar.png" alt="" id="x-fechar-icon">
      </label>

      <a href="./vitrine">Vitrine</a>
      <a href="./login" *ngIf="clienteLogado.codigo === 0">Entrar</a>
      <a href="./cadastro" *ngIf="clienteLogado.codigo === 0">Cadastrar</a>
      <a href="./config-conta" *ngIf="clienteLogado.codigo != 0">Minha Conta</a>
      <a href="./historico-compra" *ngIf="clienteLogado.codigo != 0">Histórico de Compra</a>
      <a href="./vitrine" (click)="logout()" *ngIf="clienteLogado.codigo != 0">Sair da Conta</a>
    </nav>
  </aside>
  <div id="menu-box">
    <label class="abrir-menu-lateral-btn" (click)="toggleMenuLateral()">
      <img src="assets/icons/menu-hamb.png" alt="" id="menu-hamb-icon">
    </label>

    <div id="logo-img-box">
      <a href="./vitrine">
        <img src="assets/icons/logo2.png" alt="logo do site" width="28px">
      </a>
    </div>

    <div id="caixa-pesquisa-desktop" class="caixa-pesquisa-box">
      <input type="text" placeholder="Encontre seu vinho..." class="caixa-pesquisa" [(ngModel)]="pesquisaValorVinho" (keyup.enter)="pesquisarVinho()">
      <div class="lupa-pesquisa-box" (click)="pesquisarVinho()">
        <img src="assets/icons/search.svg" alt="" width="28px" class="lupa-pesquisa">
      </div>
    </div>

    <div id="conta-carrinho-box">
      <div id="cadastro-login-box">
        <img src="assets/icons/user.svg" id="user-icon-img" alt="" width="40px" (click)="toggleUserMenu()">
        <div id="menu-user-box">
          <a href="./login" *ngIf="clienteLogado.codigo === 0">Entrar</a>
          <a href="./cadastro" *ngIf="clienteLogado.codigo === 0">Cadastrar</a>
          <a href="./config-conta" *ngIf="clienteLogado.codigo != 0">Minha Conta</a>
          <a href="./historico-compra" *ngIf="clienteLogado.codigo != 0">Histórico de Compras</a>
          <a href="./vitrine" (click)="logout()" *ngIf="clienteLogado.codigo != 0">Sair da Conta</a>
        </div>
        <p id="mensagem-menu" *ngIf="clienteLogado.nome == ''">
          <span>Bem-vindo(a)</span><br>
          <a href="./login"> Entrar</a> ou <a href="./cadastro">Cadastrar</a>
        </p>
        <p id="mensagem-menu" *ngIf="clienteLogado.nome != ''">
          <span>Bem-vindo(a) </span><br>
          <span>{{clienteLogado.nome}}</span>
        </p>
      </div>
      <a href="./cesta" id="carrinho-box">
        <img src="assets/icons/cart.svg" alt="" width="40px">
        <p id="qtdItemCarrinho"> {{qtdItensCarrinho}} </p>
      </a>
    </div>
  </div>
  <nav id="menu-box-2">
    <div id="menu-items-box">
      <a href="./vitrine">Vitrine</a>
      <a href="./login" *ngIf="clienteLogado.codigo === 0">Entrar</a>
      <a href="./cadastro" *ngIf="clienteLogado.codigo === 0">Cadastrar</a>
      <a href="./config-conta" *ngIf="clienteLogado.codigo != 0">Minha Conta</a>
      <a href="./historico-compra" *ngIf="clienteLogado.codigo != 0">Histórico de Compra</a>
    </div>
  </nav>
  <div id="caixa-pesquisa-mobile" class="caixa-pesquisa-box">
    <input type="text" placeholder="Encontre seu vinho..." class="caixa-pesquisa" [(ngModel)]="pesquisaValorVinho" (keyup.enter)="pesquisarVinho()">
    <div class="lupa-pesquisa-box" (click)="pesquisarVinho()">
      <img src="assets/icons/search.svg" alt="" width="28px" class="lupa-pesquisa">
    </div>
  </div>
</div>